<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beer Api</title>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
    <nav>
        <form action="/beers/search">
        <input type="text" placeholder="Search beer" name="q"/>
        <button type="submit">Search</button>
        </form>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/beers">Beers</a></li>
            <li><a href="/beers/random">Random Beer</a></li>

        </ul>
    </nav>

    {{{body}}}
    
</body>
</html>